/* Colors */

$white: #fff;
$white-text: #fff;
$black: #000;
$title-color: #6c6c6c;
$title-color-bold: #edc400;
$text-color: #9b9b9b;
$blue: #3bb3f0;

/* Fonts */

$Roboto: "Roboto Condensed", sans-serif;
$Open: "Open Sans", sans-serif;

$light: 300;
$Regular: 400;
$Bold: 700;

/*title*/

// $h1: 29px;
// $h2: 28px;
// $h3: 21px;
// $h4: 18px;
// $h5: 15px;
// $h6: 14px;

/*text*/

$font-text: 16px;
